<?xml version="1.0"?>
<launch>
    <arg name="node_start_delay" default="15.0" />
    <node pkg="project" type="clip_tuned.py" name="clip_tuned" output="screen"/>
    <node pkg="project" type="task1_depth_mask.py" name="task1_depth_mask" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="project" type="task1_extract_one_object.py" name="task1_extract_one_object" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="project" type="task1_manager.py" name="task1_manager" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <!-- <node pkg="project" type="task1_mask_for_costmap.py" name="task1_mask_for_costmap_" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/> -->
    <include file="$(find project)/launch/task1_add2costmap.launch"></include>
</launch>